%purple {
  color: #b1aee8;
}

%pink {
  color: #ff959a;
}

.section {
  font-style: normal;
  padding: 0px 260px 0px;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: contain;
}

.advertise {
  &.label {
    font-size: 28px;
    line-height: 41px;
    letter-spacing: 0.05em;
    font-family: Noto Sans TC;
    color: #353b55;
    font-weight: 700;
  }
  &.plainText {
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
    text-align: left;
    font-family: Noto Sans TC;
    color: #353b55;
    margin-top: 20px;
  }
}

.container {
  background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20210324/pngtree-gradient-blue-powder-white-point-card-light-background-image_593568.jpg");
  background-size: cover;
}
