@keyframes backInLeft {
    0% {
        transform: translateX(-2000px) scale(0.7);
        opacity: 0.7;
    }
    80% {
        transform: translateX(0px) scale(0.7);
        opacity: 0.7;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@mixin opacity-transition($delay) {
    transition: {
        property: opacity;
        duration: 0.5s;
        delay: $delay
    }
}

.backInLeft {
    animation: backInLeft 1s;
}

.plainText-enter,
.purpleText-enter,
.pinkText-enter,
.storeIcon-enter,
.feature1-enter,
.feature2-enter,
.feature3-enter {
    opacity: 0;
}

.pinkText-enter-active {
    @include opacity-transition(0s)
}

.purpleText-enter-active,
.feature1-enter-active {
    @include opacity-transition(1s)
}

.plainText-enter-active,
.feature2-enter-active {
    @include opacity-transition(2s)
}

.storeIcon-enter-active,
.feature3-enter-active {
    @include opacity-transition(3s)
}